html {
    background-color: #E1D7D4;
    /* font-family: Roboto Mono; */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    margin-top: 100px;
    /* position: relative;
    transform: translateY(20%); */
    z-index: 1;
}

header {
    font-size: 30px;
    font-weight: 700;
    color: #E34E45;
    font-family: Rubik;
}

.picker_container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    border: 0px solid;
    border-radius: 5px;
    background-color: white;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin: 20px;
}

.table {
    /* background-color: #ccc; */
    border-radius: 50%;
    padding: 5px;
    width: 70px;
    height: 70px;
    border: 0px solid;
    font-family: Roboto Mono;
    font-weight:700;

}

.available {
    background-color: #ccc;
    color: #eee;
}


.available:hover {
    background-color: #eee;
    color: white;
    cursor: grab;
}


.reserved {
    background-color: #adaaaa;
    color: white;
    cursor: not-allowed;
}

.selected {
    background-color: #adaaaa;
    color: white;
}

.no-click {
    pointer-events: none;
}

.form-overlay {
    display: none;
    border: 0px solid;
    border-radius: 5px;
    background-color: white;
    position: fixed; /* Sit on top of the page content */
    /* display: none; Hidden by default */
    width: 85%; /* Full width (cover the whole page) */
    height: 355px; /* Full height (cover the whole page) */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    z-index: 3;
    /* margin-left: 10px;
    margin-right: 10px; */

}

form{
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
    flex-direction: column;
    height: 355px;
    width: 100%;
    font-family: Roboto Mono;
    box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.3);
}
.style {
    font-family: Roboto Mono;
}
.form-title {
    color: #E34E45;
    font-size: 30px;
    font-weight: 700;
    padding-left: 10px;
    font-family: Rubik;
}

.table-number {
    padding-left: 10px;
    font-family: Roboto Mono;
}

.field-style {
    display: flex;
    /* justify-content: center;
    flex-direction: column; */
    align-items: center;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #ccc;
    width: 95%;
    margin-top: 20px;
    font-family: Roboto Mono;


}

.btn-save {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin-top: 20px;
    border: 0px solid;
    color: white;
    background-color: #008000;
    font-family: Roboto Mono;
    /* font-size: px; */
    height: 40px;
    box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.3);
}
.input-cont {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.btn-close {
    width: 20px;
    height: 20px;

}
.close-cont {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    align-content: flex-end;
    padding-right: 10px;
}

@media only screen and (min-width: 480px) {
    .form-overlay {
        width: 500px;
    }
    form {
        width: 500px;
    }
}